<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="LogFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<file value="logs\info\" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="5MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date [%thread] %-5level]%newline%message%newline" />
		</layout>
	</appender>
	<logger name="LOGGER_INFO">
		<level value="INFO" />
		<appender-ref ref="LogFileAppenderInfo" />
	</logger>
	<appender name="LogFileAppenderFaral" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<file value="logs\fatal\" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="5MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date [%thread] %-5level]%newline%message%newline" />
		</layout>
	</appender>
	<logger name="LOGGER_FATAL">
		<level value="FATAL" />
		<appender-ref ref="LogFileAppenderFaral" />
	</logger>
	<appender name="LogFileAppenderError" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<file value="logs\error\" />
		<datePattern value="dd.MM.yyyy'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="5MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date [%thread] %-5level]%newline%message%newline" />
		</layout>
	</appender>
	<logger name="LOGGER_ERROR">
		<level value="ERROR" />
		<appender-ref ref="LogFileAppenderError" />
	</logger>
</log4net>